<!doctype html>
<html>

<head>
    <title>Kuick Exam</title>
    <link rel="icon" href="img/title-logo.png" type="image/png">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Untitled Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
    <div class="content">
        <div class="shadow bg-white ">
            <nav class="navbar navbar-expand-sm navbar-light bg-light d-flex">
                <a class="navbar-brand" href="/">
                    <img src="img/logo1.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"> </i> Agent login
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/login">Login</a>
                                <a class="dropdown-item" href="/register">Signup</a>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="tel:+62896706255135"><i class="fa fa-phone"></i> Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- banner part start-->
        <section class="banner_part">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-xl-6">
                        <div class="banner_text">
                            <div class="banner_text_iner">
                                <h1>Bringing the future of healthcare</h1>
                                <p>The future of healthcare lies in working hand-in-hand with technology and healthcare workers have to embrace emerging healthcare technologies in order to stay relevant in the coming years.</p>
                                <a class="nav-link" href="tel:+62896706255135" class="btn_2">Make an appointment</a>
                                <div class="banner_item">
                                    <div class="single_item">
                                        <img src="img/icon/banner_1.svg">
                                        <h5>Emergency Cases</h5>
                                    </div>
                                    <div class="single_item">
                                        <img src="img/icon/banner_2.svg">
                                        <h5>Easy Appointment</h5>
                                    </div>
                                    <div class="single_item">
                                        <img src="img/icon/banner_3.svg">
                                        <h5>Qualfied Doctores</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner part start-->

        <!-- feature_part start-->
        <section class="feature_part padding_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-4 align-self-center">
                        <div class="single_feature_text ">
                            <h2>Provide Special Services
                            </h2>
                            <p>We provide high quality affordable medical services within the comfort of your home. Our service also aims to provide convenience to those patients who find it difficult to travel to health care centres to avail these services.
                                Our highly skilled and experienced team of Doctors provide care with compassion at your doorstep.</p>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="feature_item">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="single_feature">
                                        <div class="single_feature_part">
                                            <span class="single_feature_icon"><img src="img/icon/heart.svg"
                                                alt=""></span>
                                            <h4>Emergency Care</h4>
                                            <p>Emergenct services can be provided on the basis of the situation.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="single_feature">
                                        <div class="single_feature_part">
                                            <span class="single_feature_icon"><img src="img/icon/eye.svg"
                                                alt=""></span>
                                            <h4>Outdoor Checkup</h4>
                                            <p>Checkups provided at the door-steps of the examinee.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="single_feature">
                                        <div class="single_feature_part">
                                            <span class="single_feature_icon"><img src="img/icon/healthcare-and-medical.svg"
                                                alt=""></span>
                                            <h4>24 Hours service</h4>
                                            <p>Our examiners are ready 24 hours. 24-7 service is service that is available at any time and usually, every day.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="single_feature">
                                        <div class="single_feature_part">
                                            <span class="single_feature_icon"><img src="img/icon/stethoscope (1).svg"
                                                alt=""></span>
                                            <h4>Qualified Doctors</h4>
                                            <p>Our team of dedicated doctors is highly qualified and committed to excellence in providing an aesthetically pleasing environment to ensure quality in medical exam.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- feature_part start-->

        <!-- our_ability part start-->
        <section class="our_ability padding_top">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-6 col-lg-6">
                        <div class="our_ability_img">
                            <img src="./img/ability_img.png" alt="./img/ability_img.png">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <div class="our_ability_member_text">
                            <h2>Our Patients Are at the Centre of Everything We Do</h2>
                            <p>We ensure that medicines are used safely, appropriately and economically; we ensure adherence to all the legislation around their use; and we cover the logistics of getting medicines prescribed and to the wards so that they
                                get to the right patient at the right time. We also provide education and training on medicines to patients and staff and we are involved in research and clinical trials.</p>
                            <ul>
                                <li><span class="ti-mouse"></span>Modern Technology</li>
                                <li><span class="ti-heart-broken"></span>Worldclass Facilities</li>
                                <li><span class="ti-package"></span>Experienced Nurse</li>
                                <li><span class="ti-headphone-alt"></span>24 Hours Support</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- our_ability part end-->

        <!-- top_service part start-->
        <section class="top_service our_ability padding_top padding_bottom mb-5">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-5 col-lg-5">
                        <div class="our_ability_member_text">
                            <h2>We Analyse Your Health States In Order To Top Service</h2>
                            <p>It is inevitable that, as with retail consumers, patients will elevate their expectations of service as they experience what’s possible when powerful data techniques are put to work. While everyone involved in the healthcare
                                journey—patients, providers and payers—will benefit from better outcomes at lower costs, it is the patient who stands to gain the most. </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="our_ability_img">
                            <img src="img/top_service.png" alt="img/top_service.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- top_service part end-->
    </div>
    <!-- footer part start-->
    <footer class="footer-area">

        <div class="copyright_part">
            <div class="container">
                <div class="row align-items-center">
                    <p class="footer-text m-0 col-lg-8 col-md-12">
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved <i class="ti-heart" aria-hidden="true"></i> </p>
                    <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i> </a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-skype"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    </div>
</body>

</html>